@charset "utf-8";
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

}
img, object, embed, video {
	max-width: 100%;
}
header {
	margin-bottom: 10px;
	width: 100%;
}
header img {
	width: 100%;
}
body {

    width: 100%;
    margin: auto;
}
h1{
  color: red;
}
nav {
    width: 20%;  /* Este será el ancho que tendrá tu columna */
    background-color: black;  /* Aquí pon el color del fondo que quieras para este lateral */
    float:left; /* Aquí determinas de lado quieres quede esta "columna" */
    border-radius: 10px;
    height: max-content;
    margin: 5px;
    border-style:groove;
    border-color: #17202A;
    background-color: #34495E;
}
nav li{
    margin: 10px;
}
section {
    width: 50%;
    float: left;

    margin: 10px;
    border-radius: 10px;
}
aside{
    width: 20%;
    float: left;

    margin: 10px;
    border-radius: 10px;

}
table{
    display: inline;
}
article {
  text-align: justify;
}


]
/*Hacer la Galeria*/
.galeria {



  }


  /*Nav Horizontal*/
nav.horizontal ul li {
    display: table-cell;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 10%;
    text-align: center;
    border-style:groove;
    border-color: #17202A;
    background-color: #34495E;
}
nav.horizontal li{
     color: black;
}
nav.horizontal {
    display: table;
    width: 100%;
    margin: 2 auto;
    float: none;
}
nav.horizontal ul {
    display: table-row;
    margin: 0;
}
nav.horizontal ul li:last-of-type {
    margin-right: 10%;
}
nav.horizontal a {
    color: white;
}
/*-------------------------------------------*/
section#team75 img{
    width: 383px;
    height: 350px;
    border-radius: 30px;
    border-style: solid;
    border-color: black;
    align-items: center;
}

.BotonS{
    display: flex;
    justify-content: center;
    background-color: black;
    color:white;
    font-size: larger;

}
